---
import { services } from '../../data/services'
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import SolutionCard from "../../components/services/SolutionCard.astro";
import TechnologyCard from "../../components/services/TechnologyCard.astro";
import BenefitCard from "../../components/services/BenefitCard.astro";
import Button from "../../components/ui/Button.astro";

export const getStaticPaths = (() => {
  return services.map(service => ({
    params: {
      slug: service.slug,
      title: service.title,
      subtitle: service.subtitle,
      ctaText: service.ctaText,
      ctaHref: service.ctaHref
    }
  }))
})

const currentService = services.find(s => s.slug === Astro.params.slug)

if (!currentService) return Astro.redirect('/404')
---

<ServiceLayout
  title={currentService.title}
  subtitle={currentService.subtitle}
  ctaText={currentService.ctaText}
  ctaHref={currentService.ctaHref}
  heroImage={currentService.heroImage?.src}
  valueExpression={currentService.valueExpression}
>
  <!-- solutions -->
  <section class="mt-20 py-6">
    <h2 class="text-4xl font-semibold text-zinc-100 text-center">{currentService.solutions.title}</h2>
    <p class="mt-4 text-center text-zinc-300">{currentService.solutions.subtitle}</p>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
      {
        currentService.solutions.items.map(item => (
          <SolutionCard
            icon={item.icon}
            title={item.title}
            description={item.description}
          />
        ))
      }
    </div>
  </section>

  <!-- technologies -->
  <section class="mt-20 py-6">
    <h2 class="text-4xl font-semibold text-zinc-100 text-center">{currentService.technologies?.title}</h2>
    <p class="mt-4 text-center text-zinc-300">{currentService.technologies?.subtitle}</p>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8">
      {
        currentService.technologies?.items.map(item => (
          <TechnologyCard
            icon={item.icon.src}
            name={item.name}
            description={item.description}
          />
        ))
      }
    </div>
  </section>

  <!-- benefits -->
  <section class="mt-20 py-6">
    <h2 class="text-4xl font-semibold text-zinc-100 text-center">{currentService.benefits?.title}</h2>

    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
      {
        currentService.benefits?.items.map(item => (
          <BenefitCard
            icon={item.icon}
            title={item.title}
          />
        ))
      }
    </div>
  </section>

  <!-- cta -->
  
  <section class=" mt-20 pt-10 min-h-[200px] bg-gradient-to-b from-[#00B4FB]/10 via-[#00FAB5]/2 to-transparent">
    <h4 class="text-center text-zinc-100 text-5xl">{currentService.ctaText}</h4>
    <p class="text-zinc-300 text-center mt-2">{currentService.ctaSubtitle}</p>

    <a href={currentService.ctaHref} class="block text-center mt-8">
      <Button>{currentService.ctaText}</Button>
    </a>
  </section>

</ServiceLayout>