---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import SolutionCard from "../../components/services/SolutionCard.astro";
import Button from '../../components/ui/Button.astro'

import Clock from "astro-heroicons/outline/Clock.astro";
import Money from 'astro-heroicons/outline/CurrencyDollar.astro'
import Warning from 'astro-heroicons/outline/ExclamationTriangle.astro'
import Calendar from 'astro-heroicons/outline/Calendar.astro'
import ChatBubble from 'astro-heroicons/outline/ChatBubbleLeft.astro'
import Lifebuoy from 'astro-heroicons/outline/Lifebuoy.astro'
import Users from "astro-heroicons/outline/Users.astro";
import ArrowTrendingUp from "astro-heroicons/outline/ArrowTrendingUp.astro";
import Building from 'astro-heroicons/outline/BuildingOffice2.astro'
import Scale from 'astro-heroicons/outline/Scale.astro'
import Truck from 'astro-heroicons/outline/Truck.astro'
import Briefcase from "astro-heroicons/outline/Briefcase.astro";
import FaceSmile from 'astro-heroicons/outline/FaceSmile.astro'
import Sun from 'astro-heroicons/outline/Sun.astro'
import Shield from "astro-heroicons/outline/ShieldCheck.astro";

import whatsappBot from '../../assets/img/whatsapp-bot.png'
import GridListItem from "../../components/GridListItem.astro";
import type { Icon } from "astro/runtime/client/dev-toolbar/ui-library/icons.js";

const mockData = {
  solutions: [
    {
      icon: Calendar,
      name: "Auto Scheduling",
      description: "Books appointments automatically"
    },
    {
      icon: ChatBubble,
      name: "Smart Reminders",
      description: "Send confirmations and follow-ups"
    },
    {
      icon: Lifebuoy,
      name: "24/7 Support",
      description: "Answers FAQs via WhatsApp, SMS, Email, calls"
    },
    {
      icon: Users,
      name: "Contact Management",
      description: "Filters and organizes leads before reaching staff"
    }
  ],
  benefits: [
    {
      icon: Clock,
      name: "More Time",
      description: "For the owner and team to focus on what matters"
    },
    {
      icon: Users,
      name: "More Customers",
      description: "Serve more clients without hiring more staff"
    },
    {
      icon: ArrowTrendingUp,
      name: "More Revenue",
      description: "Fewer missed appointments, more closed sales"
    },
    {
      icon: Money,
      name: "Minimal Cost",
      description: "Less than 2 days of employee wages for 30 days of work"
    },
  ],
  highValueCases: [
    {
      icon: Building,
      name: "Clinics & Hospitals",
      description: "Automatic scheduling and reminders. Fewer no-shows → more billable consultations."
    },
    {
      icon: Scale,
      name: "Lawyers and Notaries",
      description: "Automated confirmations and follow-ups. More billable hours, fewer interruptions."
    },
    {
      icon: Truck,
      name: "Auto Dealerships",
      description: "Test drive and maintenance appointments. Post-sale follow-up → more closed sales."
    },
    {
      icon: Briefcase,
      name: "Consultancies & Financial Firms",
      description: "VIP client meetings scheduled seamlessly. Professionalism = investment trust."
    },
    {
      icon: FaceSmile,
      name: "Dental & Aesthetic Clinics",
      description: "Smart reminders → fewer cancellations. Higher monthly billing."
    },
    {
      icon: Sun,
      name: "Luxury Hotels & Resorts",
      description: "Confirmed reservations + automated upselling. Premium service without more staff."
    }
  ]
}
---

<ServiceLayout
  title="Automate Your Business With AI"
  subtitle="You'll have a system that works 24/7 for you and your team for less than 2 days of an employee costs"
  ctaText="Test It Now for Free"
  ctaHref=""
  heroImage={{
    src: whatsappBot.src,
    rotated: true
  }}
>
  <section class="pt-20">
    <h2 class="text-4xl text-zinc-100 text-center font-semibold">The Problem</h2>

    <div class="grid grid-cols-1 xl:grid-cols-2 mt-20 gap-20">
      <div class="text-secondary text-lg">
        <p>Manual management of calls, repetitive messages, scheduling appointments, and following up with customers can consume a significant amount of time that impacts business productivity</p>
        <p class="mt-8">This lost time translates to missed sales opportunities, as customers expect quick responses—often within minutes—and slow follow-up can make them lose interest and seek competitors.</p>
      
        <div class="mt-10 font-medium text-xl flex items-center gap-x-10">
          <Warning class="text-red-500" width={48} />
          <span class="text-red-500">Time Lost = Money Lost</span>
        </div>
      </div>
      
      <div class="grid gap-10 grid-cols-2 place-content-center">
        <article class="border border-zinc-100/10 p-10 rounded-xl flex gap-y-5 flex-col items-center">
          <Clock width={48} class="text-red-500" />
          <p class="text-red-500 text-medium">Time Wasted</p>
          <p class="text-secondary text-sm">Hours spent on repetitive tasks</p>
        </article>

          <article class="border border-zinc-100/10 p-10 rounded-xl flex gap-y-5 flex-col items-center">
          <Money width={48} class="text-red-500" />
          <p class="text-red-500 text-medium">Money Lost</p>
          <p class="text-secondary text-sm">Missed opportunities and sales</p>
        </article>
      </div>
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-4xl text-zinc-100 text-center font-semibold">Our Solution</h2>
    <p class="text-secondary text-center">A digital copilot that works alongside your team</p>
  
    <div class="grid grid-cols-2 xl:grid-cols-4 gap-10 xl:gap-20 mt-10">
      {
        mockData.solutions.map(solution => (
          <SolutionCard
            icon={solution.icon}
            title={solution.name}
            description={solution.description}
          />
        ))
      }
    </div>

    <div class="mt-10 px-4 py-10 bg-[#00B4FB]/10 rounded-xl">
      <h3 class="text-center text-xl font-semibold text-zinc-100">Key Message</h3>
      <p class="mt-5 text-lg text-zinc-200 text-center">We don't replace receptionists or assistants—we optimize repetitive processes so they can focus on customers and high-value tasks.</p>
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-4xl text-zinc-100 text-center font-semibold">The Central Benefit: <span class="text-theme">Time</span></h2>

    <div class="grid grid-cols-1 xl:grid-cols-2 gap-20 mt-20">
      <div class="flex flex-col gap-y-10">
        {
          mockData.benefits.map(benefit => (
            <div class="flex items-center gap-x-10">
              <benefit.icon width={32} class="text-theme" />
              <div>
                <h3 class="text-lg text-zinc-100 font-medium">{benefit.name}</h3>
                <p class="text-secondary">{benefit.description}</p>
              </div>
            </div>
          ))
        }
      </div>

      <div class="p-10 rounded-xl border border-zinc-100/10">
        <h3 class="text-center text-zinc-100 font-semibold text-2xl">Cost Comparison</h3>

        <div class="mt-10">
          <div class="p-10 bg-red-500/10 flex items-center rounded-xl">
            <div class="flex-1">
              <p class="text-xl text-zinc-100">Traditional Employee</p>
              <p class="text-sm text-secondary">Per week</p>
            </div>

            <div class="text-right">
              <p class="text-red-500 text-xl font-semibold">$400+</p>
              <p class="text-sm text-zinc-100">Limited Ours</p>
            </div>
          </div>

          <div class="p-10 mt-4 bg-sky-500/10 flex items-center rounded-xl">
            <div class="flex-1">
              <p class="text-xl text-zinc-100">AI System</p>
              <p class="text-sm text-secondary">Per month</p>
            </div>

            <div class="text-right">
              <p class="text-sky-500 text-xl font-semibold">$199+</p>
              <p class="text-sm text-zinc-100">24/7 Availability</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-4xl text-zinc-100 text-center font-semibold">High Value Cases</h2>

    <div class="mt-20 grid gap-10 grid-cols-2 xl:grid-cols-3">
      {
        mockData.highValueCases.map(hvc => (
          <SolutionCard
            icon={hvc.icon}
            title={hvc.name}
            description={hvc.description}
          />
        ))
      }
    </div>

  </section>

    <div class="py-20 flex flex-col items-center px-4 sm:px-6 lg:px-8 bg-card bg-zinc-950 mt-30 rounded-xl">
      <div class="text-lg px-6 py-3 inline-flex rounded-xl items-center text-zinc-100 border border-zinc-100/10">
        <Shield width={32} class="mr-2" />
        <span>Try Free 30 Days</span>
      </div>

      <h3 class="text-4xl text-zinc-100 mt-10">Risk-Free Setup</h3>
      <p class="mt-5 max-w-1/2 text-center text-secondary">Free setup for the first month: You try without risk. With demonstrable results, decide if you continue with a monthly subscription, or cancel without commitment.</p>

      <div class="mt-10">
        <a
          href="javascript:void(0)"
					data-cal-link="luis-roberto-leyva-galban-kze0qq/30min"
					data-cal-namespace="30min"
					data-cal-config='{"layout":"month_view"}'
        >
          <Button>Start Free Trial</Button>
        </a>
      </div>
    </div>
</ServiceLayout>