---
import webDevelopment from "@/assets/img/services/web-hero.webp";

import GridListItem from "../../components/GridListItem.astro";
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import BenefitCard from "../../components/services/BenefitCard.astro";
import WorkFlowStep from "../../components/services/WorkFlowStep.astro";
import Steps from "@/components/services/Steps";

import Briefcase from "astro-heroicons/outline/Briefcase.astro";
import Envelope from "astro-heroicons/outline/Envelope.astro";
import PencilSquare from "astro-heroicons/outline/PencilSquare.astro";
import MagnifyingGlass from "astro-heroicons/outline/MagnifyingGlass.astro";
import Phone from "astro-heroicons/outline/Phone.astro";
import Shield from "astro-heroicons/outline/ShieldCheck.astro";
import Users from "astro-heroicons/outline/Users.astro";
import Clock from "astro-heroicons/outline/Clock.astro";
import Cube from "astro-heroicons/outline/CubeTransparent.astro";
import PlanCard from "../../components/services/PlanCard.astro";

import { getProjects } from '../../lib/wpapi'
import { Description } from "@radix-ui/react-alert-dialog";

const mockData = {
  serviceIncludes: [
    {
      icon: Briefcase,
      text: "Professional Website Build",
      description: "Launch-ready, custom-built site — no cookie-cutter templates."
    },
    {
      icon: PencilSquare,
      text: "Fully Responsive Design",
      description: "Looks great on desktop, tablet and mobile so you win trust anywhere."
    },
    {
      icon: Envelope,
      text: "Professional Email Setup",
      description: "Custom domain email (you@yourbusiness.com) — because nothing kilss credibility like Gmail."
    },
    {
      icon: MagnifyingGlass,
      text: "Basic SEO Optimization",
      description: "Built-in visibility so Google can actually find you (and so can your customers)."
    },
    {
      icon: Phone,
      text: "Direct Contact Integrations",
      description: "Instant connection via forms, chat, call buttons, or any channel your customers use."
    },
    {
      icon: Shield,
      text: "Secure & Fast Hosting",
      description: "Quick load times, always online and strong data protection."
    },
  ],
  benefits: [
    {
      icon: Shield,
      title: "Inmediate Trust",
      description: "Look like the real deal rom the first click. No second-guesses if you're legit.",
    },
    {
      icon: Users,
      title: "More Customers",
      description: "Your site works 24/7 as your best salesperson — even while you sleep.",
    },
    {
      icon: Clock,
      title: "Time Saving",
      description: "Stop wasting hours on repetitive calls. Customers get the answers they need instantly.",
    },
    {
      icon: Cube,
      title: "Your Brand, Your Style",
      description: "Custom design that matches your business — not a cookie cutter-template.",
    },
  ],
  plans: [
    {
      name: "Basic Website",
      pages: "1 page",
      description:
        "Perfect for freelancers, promotions, or businesses wanting a quick start",
      features: [
        "Single page design",
        "Contact form",
        "Mobile responsive",
        "Basic SEO",
      ],
      isPopular: false,
    },
    {
      name: "Professional Website",
      pages: "3-5 pages",
      description:
        "For companies that need to show services, contacts, menus, etc",
      features: [
        "Multi-page structure",
        "Service page",
        "About Us",
        "Contact information",
        "Gallery/Portfolio",
      ],
      isPopular: true,
    },
    {
      name: "Advanced Web Solution",
      pages: "5+ pages / Online Store",
      description:
        "Perfect for businesses wanting to sell products or integrate complex functions",
      features: [
        "E-Commerce capability",
        "Product catalog",
        "Payment integration",
        "User accounts",
        "Advanced features",
      ],
      isPopular: false,
    },
  ]
};

const portfolio = await getProjects('web-development')
---

<ServiceLayout
  title="Get Your Profefessional Website Live in Just Days"
  subtitle="Modern, fully responsive design. Built to earn trust from the first click and position your brand as the obvious choice."
  ctaText="Schedule Your Free Consultation"
  ctaHref=""
  heroImage={{
    src: webDevelopment.src,
    rotated: false
  }}
  valueExpression="Starting at just <strong>$199</strong> — get online fast and start winning customers."
>
  <section class="py-20">
    <h2 class="text-zinc-100 text-5xl">What's Included in YOur Website Package:</h2>

    <div class="mt-10 grid md:grid-cols-2 gap-10 pt-10">
      {
        mockData.serviceIncludes.map((include: any) => (
          <GridListItem icon={include.icon} text={include.text} description={include.description} />
        ))
      }
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-zinc-100 text-5xl text-center">Benefits</h2>

    <div class="mt-10 grid md:grid-cols-2 gap-4 pt-10">
      {
        mockData.benefits.map((benefit: any) => (
          <BenefitCard
            icon={benefit.icon}
            title={benefit.title}
            description={benefit.description}
          />
        ))
      }
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-zinc-100 text-5xl text-center">Web Development Plans</h2>

    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-10 pt-10"
    >
      {
        mockData.plans.map((plan) => (
          <PlanCard
            name={plan.name}
            subtitle={plan.pages}
            description={plan.description}
            features={plan.features}
            ctaHref="#"
            isPopular={plan.isPopular}
          />
        ))
      }
    </div>

    <div class="mt-30">
      <div class="flex flex-col items-center w-full text-center">
        <h2 class="mt-2 text-5xl text-zinc-200">Our Work Process</h2>
        <p class="mt-4 text-lg text-zinc-300">Simple steps to get your website live</p>
      </div>

      <Steps client:only />
    </div>

    <!-- <div class="mt-30">
      <div class="flex flex-col items-center w-full text-center">
        <h2 class="mt-2 text-5xl text-zinc-200">Our Work Examples</h2>
        <p class="mt-4 text-lg text-zinc-300">See what we can create for your business</p>
      </div>

      {
        portfolio.length > 0 ? (
          
          <div class="grid gap-10 md:grid-cols-2 2xl:grid-cols-3 pt-20">
            {
              portfolio.map(project => (
                <ProjectCard
                  name={project.name}
                  type={project.type}
                  description={project.description}
                  featuredImageUrl={project.featuredImageUrl}
                  href={project.href}
                />
              ))
            }
          </div>
        ) : (
          <div class="text-center py-20 text-zinc-100">
            We still don't have any projects here
          </div>
        )
      }
    </div> -->


  </section>
</ServiceLayout>
