---
import webDevelopment from "../../assets/svg/website-building.svg";
import GridListItem from "../../components/GridListItem.astro";
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import BenefitCard from "../../components/services/BenefitCard.astro";
import WorkFlowStep from "../../components/services/WorkFlowStep.astro";

import Briefcase from "astro-heroicons/outline/Briefcase.astro";
import Envelope from "astro-heroicons/outline/Envelope.astro";
import PencilSquare from "astro-heroicons/outline/PencilSquare.astro";
import MagnifyingGlass from "astro-heroicons/outline/MagnifyingGlass.astro";
import Phone from "astro-heroicons/outline/Phone.astro";
import Shield from "astro-heroicons/outline/ShieldCheck.astro";
import Users from "astro-heroicons/outline/Users.astro";
import Clock from "astro-heroicons/outline/Clock.astro";
import Cube from "astro-heroicons/outline/CubeTransparent.astro";
import PlanCard from "../../components/services/PlanCard.astro";

import { getProjects } from '../../lib/wpapi'
import type { Project } from '../../types'
import ProjectCard from "../../components/services/ProjectCard.astro";
import Button from "../../components/ui/Button.astro";

const mockData = {
  serviceIncludes: [
    {
      icon: Briefcase,
      text: "Professional Website (WordPress or similar)",
    },
    {
      icon: PencilSquare,
      text: "Reponsive Design",
    },
    {
      icon: Envelope,
      text: "Professional Email",
    },
    {
      icon: MagnifyingGlass,
      text: "Basic SEO Optimization",
    },
    {
      icon: Phone,
      text: "Direct Integration of Any Contact Method",
    },
    {
      icon: Shield,
      text: "Secure and fast hosting",
    },
  ],
  benefits: [
    {
      icon: Shield,
      title: "Inmediate Trust",
      description: "Your clients see a serious business.",
    },
    {
      icon: Users,
      title: "More Customers",
      description: "Your website is an open showcase 24/7.",
    },
    {
      icon: Clock,
      title: "Time Saving",
      description:
        "Your customers find information about your business without a call.",
    },
    {
      icon: Cube,
      title: "Your Brand, Your Style",
      description: "Customized and unique designs.",
    },
  ],
  plans: [
    {
      name: "Landing Page",
      pages: "1 page",
      description:
        "Perfect for freelancers, promotions, or businesses wanting a quick start",
      features: [
        "Single page design",
        "Contact form",
        "Mobile responsive",
        "Basic SEO",
      ],
      isPopular: false,
    },
    {
      name: "Corporation Website",
      pages: "3-5 pages",
      description:
        "For companies that need to show services, contacts, menus, etc",
      features: [
        "Multi-page structure",
        "Service page",
        "About Us",
        "Contact information",
        "Gallery/Portfolio",
      ],
      isPopular: true,
    },
    {
      name: "Advanced Web Solution",
      pages: "5+ pages / Online Store",
      description:
        "Perfect for businesses wanting to sell products or integrate complex functions",
      features: [
        "E-Commerce capability",
        "Product catalog",
        "Payment integration",
        "User accounts",
        "Advanced features",
      ],
      isPopular: false,
    },
  ],
  portfolio: [] as Project[]
};

const portfolioProjects = await getProjects('web-development')
mockData.portfolio = portfolioProjects
---

<ServiceLayout
  title="Your Professional Website Ready in a Few Days"
  subtitle="Modern design, responsive to any device and thought so your business gains trust since the very first click"
  ctaText="I Want My Free Quote"
  ctaHref=""
  heroImage={webDevelopment.src}
  valueExpression="Prices start at just <strong>$199</strong> and your website can be live in just a few days"
>
  <section class="pt-20">
    <h2 class="text-zinc-100 text-5xl">What Does it Include?</h2>

    <div class="mt-10 grid grid-cols-2 gap-10 pt-10">
      {
        mockData.serviceIncludes.map((include: any) => (
          <GridListItem icon={include.icon} text={include.text} />
        ))
      }
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-zinc-100 text-5xl text-center">Benefits</h2>

    <div class="mt-10 grid grid-cols-2 gap-10 pt-10">
      {
        mockData.benefits.map((benefit: any) => (
          <BenefitCard
            icon={benefit.icon}
            title={benefit.title}
            description={benefit.description}
          />
        ))
      }
    </div>
  </section>

  <section class="mt-30">
    <h2 class="text-zinc-100 text-5xl text-center">Web Development Plans</h2>

    <div
      class="mt-10 grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-10 pt-10"
    >
      {
        mockData.plans.map((plan) => (
          <PlanCard
            name={plan.name}
            subtitle={plan.pages}
            description={plan.description}
            features={plan.features}
            ctaHref="#"
            isPopular={plan.isPopular}
          />
        ))
      }
    </div>

    <div class="mt-30">
      <div class="flex flex-col items-center w-full text-center">
        <h2 class="mt-2 text-5xl text-zinc-200">Our Work Process</h2>
        <p class="mt-4 text-lg text-zinc-300">Simple steps to get your website live</p>
      </div>

      <div class="mt-30 grid gap-10 md:grid-cols-4 md:gap-0">
        <div>
          <WorkFlowStep
            number={1}
            title="Free Consultation"
            description="We analyze your needs and discuss your vision"
          />
        </div>

        <WorkFlowStep
          number={2}
          title="Design & Customization"
          description="We adapt the website to your brand and style"
        />

        <WorkFlowStep
          number={3}
          title="Delivery & Training"
          description="We teach you how to use it effectively"
        />

        <WorkFlowStep
          number={4}
          title="Initial Support"
          description="First 30 days for basic adjustments"
        />
      </div>
    </div>

    <div class="mt-30">
      <div class="flex flex-col items-center w-full text-center">
        <h2 class="mt-2 text-5xl text-zinc-200">Our Work Examples</h2>
        <p class="mt-4 text-lg text-zinc-300">See what we can create for your business</p>
      </div>

      {
        mockData.portfolio.length > 0 ? (
          
          <div class="grid gap-10 md:grid-cols-2 2xl:grid-cols-3 pt-20">
            {
              mockData.portfolio.map(project => (
                <ProjectCard
                  name={project.name}
                  type={project.type}
                  description={project.description}
                  featuredImageUrl={project.featuredImageUrl}
                  href={project.href}
                />
              ))
            }
          </div>
        ) : (
          <div class="text-center py-20 text-zinc-100">
            We still don't have any projects here
          </div>
        )
      }
    </div>

    <div class="py-20 flex flex-col items-center px-4 sm:px-6 lg:px-8 bg-card bg-zinc-950 mt-30 rounded-xl">
      <div class="text-lg px-6 py-3 inline-flex rounded-xl items-center text-zinc-100 border border-zinc-100/10">
        <Shield width={32} class="mr-2" />
        <span>Registered Company in Nevada</span>
      </div>

      <h3 class="text-4xl text-zinc-100 mt-10">"You're not just another client, you're a growth partner"</h3>
      <p class="mt-5 text-secondary">We're committed to your success and building long-term relationships</p>

      <div class="mt-10">
        <a
          href="javascript:void(0)"
					data-cal-link="luis-roberto-leyva-galban-kze0qq/30min"
					data-cal-namespace="30min"
					data-cal-config='{"layout":"month_view"}'
        >
          <Button>Request Your Website Now</Button>
        </a>
      </div>
    </div>
  </section>
</ServiceLayout>
