---
import Button from "./ui/Button.astro"
import MemberCard from "./about/MemberCard.astro"
import collaboration from '../assets/img/collaboration.png'
import efficiency from '../assets/img/efficiency.png'
import innovation from '../assets/img/innovation.png'
import trust from '../assets/img/trust.png'
import Bolt from "astro-heroicons/outline/Bolt.astro"
import Eye from 'astro-heroicons/outline/Eye.astro'
import ValueTestimonial from "./about/ValueTestimonial.astro"

import randy from '../assets/img/randy.jpg'
import raven from '../assets/img/raven.jpg'
import lalo from '../assets/img/lalo.jpeg'

const members = [
  {
    image: lalo.src,
    name: "Lalo",
    description: "Visionary and strategic leader, passionated by AI integration on businesses.",
    position: "CEO"
  },
  {
    image: raven.src,
    name: "Luis",
    description: "Project manager and organizer.",
    position: "Marketing Engineer"
  },
  {
    image: randy.src,
    name: "Randy",
    description: "Technical pillar, responsible for creating solid and scalable solutions.",
    position: "Senior Developer"
  },
]
---

<section id="about" class="px-8 md:px-14 lg:px-40 xl:px-50 mb-20 pt-10 sm:pt-20 relative z-1">
  <div class="mb-32 flex justify-start">
    <div class="md:max-w-6/8">
      <h1 class="text-4xl sm:text-7xl text-zinc-100 mb-4">Who We Are</h1>
      <p class="text sm:text-md text-secondary">
        We're a team based in Las Vegas that helps businesses to grow, from its very starting point through its whole consolidation in order for them to be more productive, thanks to a proper use of technologies and Artificial Intelligence. 
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-stretch lg:grid-cols-2 2xl:grid-cols-3 gap-10 mb-32">
    {
      members.map(member => (
        <MemberCard
          image={member.image}
          name={member.name}
          description={member.description}
          position={member.position}
        />
      ))
    }
  </div>

  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mb-32">
    <div class="">
      <div class="mb-4 flex items-center gap-x-4">
        <Bolt width={48} class='text-theme' />
        <h4 class="text-4xl font-semibold text-theme">Mission</h4>
      </div>

      <p class="text-zinc-100 text-xl">At XlynX AI we get along with:</p>

      <p class="mt-4 text-zinc-300">
        • Small Businesses → making their very first digital step with their own websites and online presence.
      </p>

      <p class="mt-2 text-zinc-300">
        • Medium and Large Businesses → helping them to automate processes, save time, enhance productivity and strengthen their position on the market. 
      </p>
    </div>

    <div class="">
      <div class="mb-4 flex items-center gap-x-4">
        <Eye width={48} class='text-theme' />
        <h4 class="text-4xl font-semibold text-theme">Value</h4>
      </div>

      <p class="text-zinc-100 text-xl">We're not an expend but but your business' smartest investment: The assistant that pays itself</p>

      <div class="swiper mt-4">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ValueTestimonial testimonial="It's like having a receptionist what never sleeps." />
          </div>
          <div class="swiper-slide">
            <ValueTestimonial testimonial="Most trustable member of the team." />
          </div>
          <div class="swiper-slide">
            <ValueTestimonial testimonial="It's like hiring a group of assistants for the price of a single subscription." />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-32">
    <h3 class="text-4xl mb-12 text-center font-medium text-zinc-100">Our Values</h3>

    <div class="grid gap-y-10 grid-cols-2 md:grid-cols-4">
      <div class="flex items-center flex-col gap-y-3">
        <img src={innovation.src} alt="innovation">
        <p class="font-medium text-lg text-zinc-100">Innovation</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={collaboration.src} alt="collaboration">
        <p class="font-medium text-lg text-zinc-100">Collaboration</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={efficiency.src} alt="efficiency">
        <p class="font-medium text-lg text-zinc-100">Efficiency</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={trust.src} alt="trust">
        <p class="font-medium text-lg text-zinc-100">Trust</p>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <h3 class="text-zinc-100 mb-10 text-center text-2xl">Your business' future starts today, let us show you how.</h3>
    <div class="text-center">
      <a
        href="javascript:void(0)"
        data-cal-link="luis-roberto-leyva-galban-kze0qq/30min"
        data-cal-namespace="30min"
        data-cal-config='{"layout":"month_view"}'
      >
        <Button>SEE HOW WE CAN HELP</Button>
      </a>
    </div>
  </div>
</section>


<script>
  import Swiper from 'swiper'
  import { Pagination, Autoplay } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/pagination';

  const swiper = new Swiper('.swiper', {
    modules: [Pagination, Autoplay],
    direction: 'horizontal',
    loop: true,
    autoplay: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      dynamicBullets: true
    },
    scrollbar: {
      el: '.swiper-scrollbar',
      draggable: true,
    },
  })
</script>