---
import Button from "./ui/Button.astro"
import MemberCard from "./about/MemberCard.astro"
import collaboration from '../assets/img/collaboration.png'
import efficiency from '../assets/img/efficiency.png'
import innovation from '../assets/img/innovation.png'
import trust from '../assets/img/trust.png'

const members = [
  {
    image: null,
    name: "Lalo",
    description: "Lorem ipsum dolor sit amet...",
    position: "CEO"
  },
  {
    image: null,
    name: "Luis",
    description: "Lorem ipsum dolor sit amet...",
    position: "Marketing Engineer"
  },
  {
    image: null,
    name: "Randy",
    description: "Lorem ipsum dolor sit amet...",
    position: "Senior Developer"
  },
]
---

<section id="about" class="px-8 md:px-14 lg:px-40 xl:px-50 mb-20 pt-10 sm:pt-20 relative z-1">
  <div class="mb-32 flex justify-start">
    <div class="md:max-w-6/8">
      <h1 class="text-4xl sm:text-7xl text-zinc-100 mb-4">About Us</h1>
      <p class="text sm:text-md text-secondary">
        We were born from the conviction that technology should be accessible and transformative. Our team combines years of experience in web development with artificial intelligence innovation to create solutions that not only work, but drive our clients' growth. We believe in the power of well-executed ideas and the importance of building lasting relationships based on trust and exceptional results.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-stretch lg:grid-cols-2 2xl:grid-cols-3 gap-10 mb-32">
    {
      members.map(member => (
        <MemberCard
          image={member.image}
          name={member.name}
          description={member.description}
          position={member.position}
        />
      ))
    }
  </div>

  <div class="mb-32">
    <h3 class="text-4xl mb-12 text-center font-medium text-zinc-100">Our Values</h3>

    <div class="grid gap-y-10 grid-cols-2 md:grid-cols-4">
      <div class="flex items-center flex-col gap-y-3">
        <img src={innovation.src} alt="innovation">
        <p class="font-medium text-lg text-zinc-100">Innovation</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={collaboration.src} alt="collaboration">
        <p class="font-medium text-lg text-zinc-100">Collaboration</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={efficiency.src} alt="efficiency">
        <p class="font-medium text-lg text-zinc-100">Efficiency</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={trust.src} alt="trust">
        <p class="font-medium text-lg text-zinc-100">Trust</p>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <h3 class="text-zinc-100 mb-10 text-center text-2xl">Ready to get to know us better? Let's talk about your next project.</h3>
    <div class="text-center">
      <a
        href="javascript:void(0)"
        data-cal-link="luis-roberto-leyva-galban-kze0qq/30min"
        data-cal-namespace="30min"
        data-cal-config='{"layout":"month_view"}'
      >
        <Button freeBadge>SCHEDULE A MEETING</Button>
      </a>
    </div>
  </div>
</section>