---
import Button from "./ui/Button.astro"
import MemberCard from "./about/MemberCard.astro"
import collaboration from '../assets/img/collaboration.png'
import efficiency from '../assets/img/efficiency.png'
import innovation from '../assets/img/innovation.png'
import trust from '../assets/img/trust.png'
import Bolt from "astro-heroicons/outline/Bolt.astro"
import Eye from 'astro-heroicons/outline/Eye.astro'
import ValueTestimonial from "./about/ValueTestimonial.astro"

import randy from '../assets/img/randy.jpg'
import raven from '../assets/img/raven.jpg'
import lalo from '../assets/img/lalo.jpeg'
import CalWrapper from "./CalWrapper.astro"

const members = [
  {
    image: lalo.src,
    name: "Felabio H. Guerra",
    description: "Drives one mission: helping businesses thrive in the digital age. From building moren, high-performing websites to implementing AI-powered automation, he ensures companies work smarter, scale faster and stay ahead of the competition.",
    position: "CEO & Founder"
  },
  {
    image: raven.src,
    name: "Luis R. Leyva",
    description: "Responsible for directing the entire team, ensuring projects run smoothly and clients receive top-quality results in both web development and AI solutions.",
    position: "Operations Manager"
  },
  {
    image: randy.src,
    name: "Randy J. Aguilera",
    description: "Leads the development side of our business — the driving force behind turning ideas into functional solutions, bringing technical expertise and innovation to create fast, beautiful and high performing websites.",
    position: "Senior Developer"
  },
]
---

<section id="about" class="px-8 md:px-14 lg:px-40 xl:px-50 mb-20 pt-10 sm:pt-20 relative z-1">
  <div class="mb-32 flex justify-start">
    <div class="md:max-w-6/8">
      <h1 class="text-4xl sm:text-7xl text-zinc-100 mb-4">The Team Behind Your Growth</h1>
      <p class="text sm:text-md text-secondary">
        We're a Las Vegas-based team that helps businesses grow — from their very first steps to full consolidation — making them more producive through the smart use of modern technologies and Artificial Intelligence.
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 justify-items-stretch lg:grid-cols-2 2xl:grid-cols-3 gap-10 mb-32">
    {
      members.map(member => (
        <MemberCard
          image={member.image}
          name={member.name}
          description={member.description}
          position={member.position}
        />
      ))
    }
  </div>

  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-16 mb-32">
    <div class="">
      <div class="mb-4 flex items-center gap-x-4">
        <Bolt width={48} class='text-theme' aria-hidden="true" />
        <h3 class="text-4xl font-semibold text-theme">Mission</h3>
      </div>

      <p class="text-zinc-100 text-xl">At XlynX AI we empower businesses of all sizes:</p>

      <p class="mt-4 text-zinc-300">
        • Small Businesses → making their very first digital with their own websites and online presence.
      </p>

      <p class="mt-2 text-zinc-300">
        • Medium and Large Businesses → automating processes, save time, boosting productivity and strengthening their market position. 
      </p>
    </div>

    <div class="">
      <div class="mb-4 flex items-center gap-x-4">
        <Eye width={48} class='text-theme' aria-hidden="true" />
        <h3 class="text-4xl font-semibold text-theme">Value</h3>
      </div>

      <p class="text-zinc-100 text-xl">We're not an expense — we're your smarter investment: the assistant that pays for itself.</p>

      <div class="swiper mt-4">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ValueTestimonial testimonial="It's like having a receptionist what never sleeps." />
          </div>
          <div class="swiper-slide">
            <ValueTestimonial testimonial="Most trustable member of the team." />
          </div>
          <div class="swiper-slide">
            <ValueTestimonial testimonial="It's like hiring a group of assistants for the price of a single subscription." />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-32">
    <h3 class="text-4xl mb-12 text-center font-medium text-zinc-100">Our Values</h3>

    <div class="grid gap-y-10 grid-cols-2 md:grid-cols-4">
      <div class="flex items-center flex-col gap-y-3">
        <img src={innovation.src} alt="innovation">
        <p class="font-medium text-lg text-zinc-100">Innovation</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={collaboration.src} alt="collaboration">
        <p class="font-medium text-lg text-zinc-100">Collaboration</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={efficiency.src} alt="efficiency">
        <p class="font-medium text-lg text-zinc-100">Efficiency</p>
      </div>
      <div class="flex items-center flex-col gap-y-3">
        <img src={trust.src} alt="trust">
        <p class="font-medium text-lg text-zinc-100">Trust</p>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <h3 class="text-zinc-100 mb-10 text-center text-2xl">Start your business future today — smarter, faster and powered by AI.</h3>
    <div class="text-center">
      <CalWrapper>
        <button
          aria-label="See how we help - Schedule a consultation"
        >
          <Button>See How We Help</Button>
        </button>
      </CalWrapper>
    </div>
  </div>
</section>


<script>
  import Swiper from 'swiper'
  import { Pagination, Autoplay } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/pagination';

  const swiper = new Swiper('.swiper', {
    modules: [Pagination, Autoplay],
    direction: 'horizontal',
    loop: true,
    autoplay: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      dynamicBullets: true
    },
    scrollbar: {
      el: '.swiper-scrollbar',
      draggable: true,
    },
  })
</script>