---
import "../styles/global.css";
import Button from "../components/ui/Button.astro";
import ArrowRight from "astro-heroicons/solid/ArrowRight.astro";
import Layout from "./Layout.astro";
import Squares from "@/components/Squares";
import CalWrapper from "@/components/CalWrapper.astro";

interface Props {
  title: string;
  subtitle: string;
  heroImage: { src: string; rotated: boolean };
  ctaText: string;
  ctaHref?: string;
  valueExpression?: string;
}

const {
  title = "Service",
  subtitle = "Service description",
  heroImage,
  ctaText = "Call to action",
  valueExpression,
} = Astro.props;

const rotatedHeroImgClasses = `${heroImage.rotated ? "xl:rotate-z-10 !max-h-[600px]" : null}`;
---

<Layout
  title={`${title} | XLynX AI`}
  description={`${title} - ${subtitle}. Professional AI services and solutions by XLynX AI.`}
>
  <style>
    .squares-canvas {
      width: 100%;
      height: 100%;
      border: none;
      display: block;
    }
  </style>

  <section
    class="relative px-8 md:px-14 lg:px-40 xl:px-50 md:pt-50 lg:pt-40 pt-28 pb-20 bg-gradient-to-br from-[#151515] via-[#151515]/50 to-[#00B4FB]/10"
  >
    <!-- hero -->
    <div class="absolute top-0 left-0 w-full h-full z-0">
      <Squares
        client:only
        speed={0.1}
        squareSize={80}
        direction="diagonal"
        borderColor="#00b4fb"
        hoverFillColor="#00b4fb"
      />
    </div>

    <div class="grid grid-cols-1 items-center xl:grid-cols-2 gap-10">
      <div class="z-1">
        <h1
          class="text-zinc-100 text-3xl md:text-5xl xl:text-7xl font-semibold"
        >
          <span class="inline-block">{title}</span>
        </h1>
        <p class="mt-4 text-zinc-300 md:text-2xl w-full">
          <span class="inline-block">{subtitle}</span>
        </p>

        {
          valueExpression ? (
            <div class="animate-pulse mt-4 text-sm border-1 border-[#00B4FB] md:text-nowrap overflow-hidden py-2 px-4 mb-6 inline-grid grid-cols-[1fr_auto] items-center gap-x-4 rounded-full bg-[#00B4FB]/10 text-white">
              <div class="size-3 rounded-full bg-[#00B4FB]" />
              <span set:html={valueExpression} />
            </div>
          ) : null
        }

        <CalWrapper>
          <div
            class="*:flex *:gap-x-2 mt-10"
          >
            <Button>
              {ctaText}
              <ArrowRight width={22} />
            </Button>
          </div>
        </CalWrapper>
      </div>
    </div>
  </section>

  <div
    class="grid markdown px-8 md:px-14 lg:px-40 xl:px-50 pb-20 relative z-1 border-b-2 border-dashed border-gray-400/10"
  >
    <slot />
  </div>
</Layout>
